
# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.envrc
.venv/

# Jupyter / notebooks
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs / Editors
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

.claude/
claude/
claude.json
claude.config.*
*.claude
CLAUDE.md